.about-container {
  /* border: 5px solid rgb(199, 5, 118); */
  background-color: #F4CE14;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.about-container-in-page {
  height: calc(100wh - 375px);
  background-color: #F4CE14;
  width: 100%;
  height: 100%;
  align-content: center;
  justify-content: center;
}

.about-subcontainer {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 53.75rem;
  margin: auto;
}

.about-div-description {
  padding: 0.5rem;
  /* border: 2px solid rgb(191, 0, 0); */
}

.about-img-one {
  width: 43vw;
  height: 250px;
  object-fit: cover;
}

.about-img-two {
  width: 43vw;
  height: 250px;
  object-fit: cover;
}

.about-h1 {
  margin: 0;
  font-size: 45px;
}

.about-h2 {
  margin-top: 0.1rem;
}

.about-p {
  margin-top: 2rem;
}

.about-div-images {
  /* border: 4px solid green; */
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 860px) {
  .about-container {
    height: 550px;
  }

  .about-container-in-page {
    height: calc(100wh - 375px);
    background-color: #F4CE14;
    width: 100%;
    align-content: center;
    justify-content: center;  
  }

  .about-subcontainer {
    flex-direction: row;
  }

  .about-div-description {
    width: 25rem;
  }

  .about-div-images {
    height: 550px;
    width: 25rem;
    display: block;
    gap: 0rem;
    margin-bottom: 0rem;
  }

  .about-img-one {
    width: 264px;
    height: 311px;
    z-index: 1;
    position: relative;
    left: 7rem;
    top: 4rem;
  }

  .about-img-two {
    width: 264px;
    height: 311px;
    position: relative;
    top: -9rem;
  }
}
