.booking-page-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.booking-img {
  height: 10rem;
  width: 100%;
  object-fit: none;
  margin-left: auto;
  margin-right: auto;
}
