.booking-form-style {
  display: grid;
  /* max-width: 200px; */
  gap: 15px;
  text-align: center;
  /* margin: auto; */
  width: 15rem;
  font-size: x-large;
  border: 2px solid #c1c1c12e;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.175);
  border-radius: 8px;
  padding: 1rem;
}

.booking-form-submit {
  font-size: large;
  width: fit-content;
  align-content: center;
  margin: auto;
  margin-top: 20px;
  border-radius: 8px;
  /* margin-bottom: 20px; */
}

.bookingform-input-field {
  font-size: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}