.footer {
  /* border: 1px orange solid; */
  color: white;
  background-color: #495E57;
  /* max-width: 53.75rem; */
  margin: auto;

}

.footer-container {
  width: 53.75rem;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-nav h2 {
    margin-bottom: 0px;
}

.footer-logo-bg {
  margin-top: 22px;
  height: 180px;
  width: 120px;
  background-color: white;
  padding: 8px;
}

.footer-img {
  height: 180px;
  width: 120px;
}