.footer {
  /* border: 4px blue solid; */
  color: white;
  background-color: #495E57;
  margin: auto;

}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footer-nav h2 {
    margin-bottom: 0px;
}

.footer-logo-bg {
  margin-top: 22px;
  height: 180px;
  width: 120px;
  background-color: white;
  padding: 8px;
}

.footer-img {
  height: 180px;
  width: 120px;
}

.footer-element {
  /* border: 4px orange solid; */
  width: 360px;
  text-align: center;

}

@media (min-width: 860px) {
  .footer-container {
    flex-direction: row;
    align-items: flex-start;
    width: 53.75rem;
  }

  .footer-element {
    width: 360px;
    text-align: center;
  }

}
