.section-brochure h2 {
  color: #F4CE14;
  font-size: 50pt;
  margin-top: 100px;
  margin-bottom: 15px;
}

.section-brochure h3 {
  color: #ffffff;
  font-size: 30pt;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-brochure p {
  color: #ffffff;
  width: 250px;
}

.btn-sec-brouchure {
  background-color: #F4CE14;
  color: #333333;
  width: 25rem;
  height: 5rem;
  border-radius: 8px;
  font-size: 1.5rem;
 }

.section-brochure img {
  width: 25.60rem;
  height: 30rem;
  margin-top: 2rem;
  border-radius: 0.8rem;
 }

.section-brochure {
  border: 2px blue solid;
  display: flex;
  flex-direction: row;
  max-width: 53.75rem;
  margin: auto;
  justify-content: space-between;
}

