
.section-specials {
  border: 2px blueviolet solid;
  display: flex;
  flex-direction: column;
  max-width: 53.75rem;
  margin: auto;
}

.online-menu {
  border: 2px yellowgreen solid;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.specials-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-titolo {
  font-size: 16pt;
  color: #333333;
  align-self: center;
}