.title-section-brochure {
  color: #F4CE14;
  font-size: 50pt;
  margin-top: 0;
  margin-bottom: 0;
}

.h3-section-brochure {
  margin-top: 0;
  margin-bottom: 0;
}

.section-brochure h3 {
  color: #ffffff;
  font-size: 30pt;
}

.section-brochure p {
  color: #ffffff;
  width: 250px;
}

.btn-sec-brouchure {
  background-color: #F4CE14;
  color: #333333;
  width: 25rem;
  height: 5rem;
  border-radius: 8px;
  font-size: 1.5rem;
 }

 .btn-sec-brouchure:hover {
  cursor: pointer;
 }

.section-brochure img {
  width: 25.60rem;
  height: 30rem;
  border-radius: 0.8rem;
 }

.section-brochure {
  /* border: 3px blue solid; */
  margin: auto;
  background-color: #495E57;
}

.wrapped-section {
  /* border: 3px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 53.75rem;
  margin: auto;
}

.sec-brochure-text {
  /* border: 2px green solid; */
}

.sec-brochure-image {
  /* border: 2px orange solid; */
}

@media (min-width: 860px) {
  .wrapped-section {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-brochure {
    height: 29rem;
  }

}

