
.section-specials {
  /* border: 1px blueviolet solid; */
  display: flex;
  flex-direction: column;
  max-width: 53.75rem;
  margin: auto;
  padding-top: 4rem;
}

.online-menu {
  /* border: 2px yellowgreen solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.specials-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-titolo {
  font-size: 16pt;
  color: #333333;
  align-self: center;
  font-family: "Markazi Text", "Karla", serif;
}

.btn-specials {
    background-color: #F4CE14;
    color: 495E57;
    width: 10rem;
    height: 4rem;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #333333;
}