
.section-specials {
  /* border: 3px blueviolet solid; */
  display: flex;
  flex-direction: column;
  max-width: 53.75rem;
  margin: auto;
  padding-top: 4rem;
}

.card-titolo {
  font-size: 16pt;
  color: #333333;
  align-self: center;
  font-family: "Markazi Text", "Karla", serif;
  font-size: 40px;
}

.btn-specials {
    background-color: #F4CE14;
    color: 495E57;
    width: 10rem;
    height: 4rem;
    border-radius: 8px;
    font-size: 1rem;
    color: #333333;
}

.btn-specials:hover {
  cursor: pointer;
}

.online-menu {
  /* border: 2px yellow solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.specials-cards {
  /* border: 2px green solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.custom-link-mobile {
  display: block;
}

.custom-link {
  display: none;
}

@media (min-width: 860px) {
  .online-menu {
    justify-content: space-between;
  }

  .specials-cards {
    flex-direction: row;
  }

  .custom-link-mobile {
    display: none;
  }

  .custom-link {
    display: block;
  }

  .btn-specials {
    font-size: 1.3rem;
  }
}

