
.testimonials-container {
  /* border: 1px blueviolet solid; */
  /* height: 20rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 53.75rem;
  margin: auto;
  margin-bottom: 2rem;
}

.testimonials-online-menu {
  /* border: 2px yellowgreen solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.testimonials-container-cards {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card-pair-block {
  display: flex;
  gap: 1rem;
}

.testimonials-card-titolo {
  font-size: 16pt;
  color: #333333;
  align-self: center;
  font-family: "Markazi Text", "Karla", serif;
  font-size: 40px;
}

@media (min-width: 860px) {
  .testimonials-container-cards {
    flex-direction: row;
  }

}

